# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @ibm-system-owners : includes all of the MRW owners
# @dcrowell : Dan Crowell, Hostboot lead
*       @dcrowell @open-power/ibm-system-owners 
